# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

packages/backend/uploads

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Cache
.cache/
.parcel-cache/
.icon-cache/

packages/backend/uploads